/*------BASE---------*/

:root{      /* variables to refer to*/
  --lavender:#bfc2d5;
  --ink: black;
  --background:white;
  --btn:white;
  --border:lightgray;
}

*{box-sizing:border-box}        /* * to apply to every element on the page. for better sizing */ 
html{scroll-behavior:smooth}
body{
  margin:0;           /*no default spacing, for more freedom */
  color:var(--ink); 
  background:var(--background);
  font-size:16px;
  line-height:1.55;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;   /*system-ui for mobile, apple for apple, segoe for windows, roboto for chrome/android, arial/san = default*/
}

/* Utility */
a{color:inherit;text-decoration:none}
img{max-width:100%;height:auto;display:block}

/*------nav bar--------*/
.website-header {
  position: sticky;
  top:0;
  z-index:50;
  background-color: var(--lavender);
}

.navbar {
  max-width:1100px;
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding :15px 40px;
}

.logo{
  font-family: "Snell Roundhand", cursive;
  font-size: 35px;
  font-weight: 500;
  color:black;
  transform: scale(1.5);              /*i want the logo to be bigger, but keeps increasing header length.*/
  transform-origin: left center;
  cursor: pointer; 
  margin-right:400px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
  margin:0;
  padding:0;
  flex-grow: 1;
}

.nav-links a{
  font-weight: 600;
  letter-spacing: .2px
}


.contact-btn {
  display:inline-block;
  background-color: rgb(50, 49, 49);
  color: white;
  padding: 9px 18px;    /*space within button top/bottom, right/left*/
  border-radius: 999px;   /*pill shape*/
  font-weight:600;
  margin-left: auto;     /* keeps it on the right side */
  margin-right: 5px;
}

.contact-btn:hover {
  opacity:0.85;       /*i want it to be lighter when hovering above*/
}
/*----FOOTER---*/
.site-footer{
  background-color: lavender;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
}
.footer-left{
  display:flex;
  gap:12px;
  align-items: center;
}

.footer-container{
  text-align: center;
  flex:1;       /*remaining space and center it*/
  color: black;                   
  font-size: 14px;                
  line-height: 1.4;
  margin:0;
}
  
.footer-icon{
  width:40px;
  height:40px;
}
  

/*----HERO---*/
.hero{
  max-width: 1100px;
  margin: 35px auto 50px;   /* top / sides / bottom */
  padding: 20px 20px;
}

.hero .intro {
  display: flex;              /* side by side */
  align-items: center;
  justify-content: space-between;
  gap:40px;
}

.hero-text .intro-line {
  color: black;
  font-size: 18px;
  margin: 6px;
}

.hero-text h1 {
  font-family: Georgia, "Times New Roman", serif;
  font-size:110px;
  font-weight:800;
  line-height:1;
  margin: 4px 0 20px;
  letter-spacing: 0.5px;
}

.subtitle{
  color:black;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap:nowrap;   /* i want them on the same line */
}

.btn{
  display:inline-block;
  padding: 12px 22px;
  background: white;
  border: 1px solid black;
  border-radius :999px;
  font-weight:600;
  transition: background 0.3s ease;
}

.btn:hover {
  background : lavender;
}

.hero-image img{
  width: 420px;
  max-width: 40vw;
  border-radius:6px;
  object-fit:cover;
}

.empty-space{               
  height: 200px;            
}


/*-----ABOUT ME PAGE------*/
.section-about .container{
  max-width: 1100px;
  margin: 60px auto;
  padding: 40px 40px 100px;
}

  /*-----section1------*/
  .about-header {
    display:flex;
    align-items:center;
    gap:30px;
  }
  .about-pic{ 
    order: -1; 
  }               /*pic on left*/
  .about-pic img{
    width:360px;
    max-width: 40vw;
    border-radius:50% 50% 0% 0%;
    object-fit: cover;
  }

  .about-intro h2{
    font-family: Georgia, "Times New Roman", serif;
    font-size:90px;
    line-height: 1;
  }

  .about-intro p{
    margin:0;
    font-size: 20px;
    color:black;
  }

  /*-----section 2------*/
  .about-1 {         /*i want it to span the whole page*/
  width: 100%;
  }

  .about-1 .container{
    display: flex;
    flex-direction: row;   /* so image comes first (left), text second */
    gap: 0;
    align-items: stretch;  
  }

  .about-1-pic {
    flex:1;  
  }
  .about-1-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-1-text{
    background: var(--lavender);
    padding: 18px 20px;
    flex: 1;       /*takes up the rest of the space*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-size: 20px;
  } 

/*----section 3-----*/
  .about-2 {
    width: 100%;                /* make the entire section span full width */
    background: white;          
  }
  .about-2 .about-2-container{
    max-width:1100px;
    margin: 100px auto;
    padding: 0 40px ;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 30px;

    
  }
  .about-2-text,.about-2-pic {
  flex: 1 1 50%;                      /* for a 50/50 column equal */
  }
  .about-2-text h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-2-text ul{
    margin: 0;
    padding-left: 20px;   /* bullet indent */
    line-height: 1.6;
    font-size: 20px;
  }

  .about-2-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 25px solid var(--lavender);
  }


/*-------RESUME-------*/
.resume-section{
  background-color:#f1f3fa;
  padding: 100px 0;
}

.resume-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 35% 65%;  
  gap:50px;
  align-items: start;
}

.resume-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1;
  gap: 40px;
  margin-bottom: 60px;
}

.resume-title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 70px;
  color: black;
  margin : 0;
}

.resume-btn-download{
  padding: 15px 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  font-weight: 700;
  color: black;
  font-size: 20px;
}

.resume-btn-download:hover {
  background-color: var(--lavender);
}

.resume-menu {
  grid-column: 2;
  margin: 0;
  padding: 0 ;
}

.resume-item{
  background-color:#f1f3fa;
  border:none;
  margin: 25px;
  border-radius:0;
  padding: 10px;
}

.resume-summary {
  cursor: pointer;
  padding: 20px 10px;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  margin: 0;
  border-bottom : 2px dashed black;   /*dash separator*/
}

.resume-summary i {
  font-size: 30px;
  color: black;
  margin-left: auto;              /* pushes arrow to the right */
  transition: transform 0.3s ease;
}
.resume-item[open] .resume-summary i {
  transform: rotate(180deg);
}

.resume-content {
  padding: 15px 10px 25px;
  font-size: 20px;
  line-height: 1.6;
}
.resume-content h4 {
  margin: 10px 0 6px;
  font-size: 18px;
}

.resume-content p {
  margin: 4px 0 10px;
}

.resume-content ul {
  margin: 0;
  padding-left: 20px;
  line-height: 1.6;
}


/*----CONTACT PAGE ----*/

.contact-section{
  padding: 100px 0;
}

.contact-container{
  max-width: 1100px;          /* to keep it centered */
  margin: 0 auto;
  padding: 0 10px;          

  display: grid;                            /* two columns: left text | right form */
  grid-template-columns: 50% 50%;
  gap: 50px;
  align-items: start;
}

.contact-form label {       /*want to hind the labels so it doesn't affect the layout*/
  position: absolute;
  left: -9999px;      /*ensures that it's out of the frame*/
}

.contact-left h1{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 70px;
  line-height: 1.5;
  margin: 10px;
  color: black;
}

.contact-left h2{
  font-size: 20px;
  line-height: 1.5;
  margin: 10px;
  font-weight: 700;
  color: black;
}

.contact-left p{
  margin: 10px;
  max-width: 420px;
  line-height: 1.5;
  color: black;
}

.contact-form{
  display: grid;
  grid-template-columns: 50% 50%;   
  gap: 16px 18px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 30px;
  background-color: var(--lavender);
  font-size: 16px;
}

.contact-form textarea {
  grid-column : 1/-1;         /*spans to both columns*/
}
.contact-form input[type="email"] {
  grid-column : 1/-1;         /*makes it full width*/
}

.contact-form button {
  background-color: rgb(167, 167, 187);
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding:12px;
  cursor:pointer;
}

.contact-form button:hover {
  background-color: var(--lavender);
}
